body{
    background: url('Introduction_of_Silk_Road.png');
    background-repeat: no-repeat;
    background-size: 1330px;
}
.log
{
    text-align: center;
    margin: 200px;
}
.img
{
   margin-top: -430px;
   height: 90px;
}
.user_pass
{
    margin-left: 856px;
    margin-top: -173px;
}
.button
{
    margin: 10px;
}